.navCont{
  background: #4d2c5f
  }

.navText{
  color: #f5f5f5;
}

a#navbarScrollingDropdown\ dropdown-menu-right\ textDropdown {
  color: white;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #004f84;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(168,119,204);
  background: -moz-linear-gradient(180deg, rgba(168,119,204,0.6573004201680672) 23%, rgba(255,255,255,0.03545168067226889) 91%);
  background: -webkit-linear-gradient(180deg, rgba(168,119,204,0.6573004201680672) 23%, rgba(255,255,255,0.03545168067226889) 91%);
  background: linear-gradient(180deg, rgba(168,119,204,0.6573004201680672) 23%, rgba(255,255,255,0.03545168067226889) 91%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a877cc",endColorstr="#ffffff",GradientType=1);
  gap: 30px;
  padding: 15px;
  width: 400px;
  height: 500px;
  box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.59);
  transition: 0.3s ease;
  cursor: pointer;
  border-radius: 6px;
}
.separador{
  border: none;
  background-color: #000;
  margin: 1px;
  height: 1px;
  width: 50%;
  opacity: 1;
  box-shadow: 10px 6px 6px #000
}

.card-title{
  /* background-color: black; */
  color: rgb(0, 0, 0);
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.04em;
      font-family: "Open Sans";
      list-style: none;
      display: flex;
      align-items: center;
  }

  .card-img{
      max-height: 350px;
      border: #000;
        border-top-width: 10px;
        border-right-width: 1em;
        border-bottom-width: thick;
        border-left-width: thin;
}

.card-container:hover{
  transform: scale(1.06);
  transition: 0.3s ease;
}

.item-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.detail-container{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 300px;
}
  .detail-img{
    height: 150px;
    object-fit: cover;
    width: 100%;
  }
  .detail-subcontainer{
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 40px;
      align-items: flex-start;
      justify-content: flex-start;
}
.nombreItem{
  font-family: "Open Sans";
  font-size: 20px;
}
.item-detail {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.item-count {
  display: flex;
  align-items: center;
  justify-content: center;
}
.count {
  font-size: 20px;
  font-weight: bold;
  margin: 0 10px;
  width: 30px;
  text-align: center;
}

.decrement,
.increment,
.reset,
.mostrar-detalle {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  color: #333;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px;
  user-select: none;
}

.decrement:hover,
.increment:hover,
.reset:hover,
.mostrar-detalle:hover {
  background-color: #e6e6e6;
}

.cardContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.summary{
  font-size: 1.5rem;
  line-height: 2rem;
  margin-left: 10px;
  text-decoration: underline;
  border-bottom: 1px  #999;
}
.item-name{
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Open Sans";
}
#li-item{
  border-top: none;
}
.linkCard{
  text-decoration: none;
  color: #6f6f6f;
}
.linkCard:hover{
  transition: 1ms ease;
  color: #f07eff;
}
.card {
  width: 30rem;
  height: 20rem;
  perspective: 1000px;
}

.card-front, .card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease-out;
}

.card-front {
  background: rgb(255,255,255);
  background: -moz-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(69,0,120,0.1923144257703081) 100%);
  background: -webkit-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(69,0,120,0.1923144257703081) 100%);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(69,0,120,0.1923144257703081) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-back {
  background-color: #87CEEB;
  transform: rotateY(-180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover .card-front {
  transform: rotateY(180deg);
}

.card:hover .card-back {
  transform: rotateY(0deg);
}

button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}
.tabla-valores{
  display: flex;
  align-items: center;
  justify-items: center;
}
table td {
  padding: 0 10px;
}

table td:first-child {
  text-align: right;
}
.card-ind{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
.text-item{
  display: flex;
  justify-content: center;
}
.card-img-ind{
  width: 320px;
  height: 173px;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.card-back{
  background-color: #000;
  color: white;
}
.icon-cart{
  height: 38px;
    width: 110px;
    display: block;
    color: white;
    margin-bottom: -20px;
}
.cart-counter{
  color: white;
  margin: 18px;
}
.botonCarrito{
  padding: 0.3rem;
      background: #b68ce4;
      border-width: 2px;
      box-shadow: 2px 3px 5px 0px rgb(0 0 0);
  }
.botonCarrito:hover{
  background-color: b68ce4;
  color: whitesmoke;
  transform: scale(1.06);
  transition: 0.3s ease;
}
.div-carrito-vacio{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}