*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;

}

body{
  background-color: whitesmoke;
}


.navCont{
  background: #7D6B91
  }

.navText{
  color: #f5f5f5;
}

a#navbarScrollingDropdown\ dropdown-menu-right\ textDropdown {
  color: white;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #004f84;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(152,159,206);
  background: -moz-linear-gradient(180deg, rgba(152,159,206,1) 0%, rgba(255,255,255,0.03545168067226889) 74%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.944) 0%, rgb(0, 0, 0) 100%);
  background: linear-gradient(180deg, rgba(152,159,206,1) 0%, rgb(255, 255, 255) 74%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#989fce",endColorstr="#ffffff",GradientType=1);
  gap: 30px;
  padding: 15px;
  width: 400px;
  height: 500px;
  cursor: pointer;
  border-radius: 6px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0px 0px 15px 7px #bfbdef;
}
.separador{
  border: none;
  background-color: #000;
  margin: 1px;
  height: 1px;
  width: 50%;
  opacity: 1;
  box-shadow: 10px 6px 6px #000
}

.card-title{
  /* background-color: black; */
  color: rgb(0, 0, 0);
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.04em;
      font-family: "Open Sans";
      list-style: none;
      display: flex;
      align-items: center;
  }

  .card-img{
      max-height: 350px;
      border: #000;
        border-top-width: 10px;
        border-right-width: 1em;
        border-bottom-width: thick;
        border-left-width: thin;
}

.card-container:hover{
  transform: scale(1.06);
  transition: 0.3s ease;
  box-shadow:0px 2px 10px 10px #6964cf ;
}

.item-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.detail-container{
  background-color: #cfcfcf;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 300px;
}
  .detail-img{
    height: 150px;
    object-fit: cover;
    width: 100%;
  }
  .detail-subcontainer{
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 40px;
      align-items: flex-start;
      justify-content: flex-start;
}
.nombreItem{
  font-family: "Open Sans";
  font-size: 20px;
}
.item-detail {
  background-color: #f2f2f2;
  border: 1px solid #ee0d0d;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.item-count {
  display: flex;
  align-items: center;
  justify-content: center;
}
.count {
  font-size: 20px;
  font-weight: bold;
  margin: 0 10px;
  width: 30px;
  text-align: center;
}

.decrement,
.increment,
.reset,
.mostrar-detalle {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  color: #333;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px;
  user-select: none;
}

.decrement:hover,
.increment:hover,
.reset:hover,
.mostrar-detalle:hover {
  background-color: #9292BF;
  transition: ease 1s;
}

.cardContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.summary{
  font-size: 1.5rem;
  line-height: 2rem;
  margin-left: 10px;
  text-decoration: underline;
  border-bottom: 1px  #a2a7ff;
}
.item-name{
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Open Sans";
}
#li-item{
  border-top: none;
}
.linkCard{
  text-decoration: none;
  color: #6f6f6f;
}
.linkCard:hover{
  transition: 1ms ease;
  color: #f07eff;
}
.card {
  width: 30rem;
  height: 20rem;
  perspective: 1000px;
}

.card-front, .card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s cubic-bezier(0.34, -0.22, 0.93, 1.08)
}

.card-front {
  background: rgb(152,159,206);
  background: -moz-linear-gradient(180deg, rgba(152,159,206,1) 0%, rgba(255,255,255,0.03545168067226889) 74%);
  background: -webkit-linear-gradient(180deg, rgba(152,159,206,1) 0%, rgba(255,255,255,0.03545168067226889) 74%);
  background: linear-gradient(180deg, rgba(152,159,206,1) 0%, rgba(255,255,255,0.03545168067226889) 74%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#989fce",endColorstr="#ffffff",GradientType=1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-front::before{
  content: "";
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(to bottom, #313131, #ffffff);
  border-radius: 15px;
  opacity: 0.7;
}


.card-back {
  background-color: #87CEEB;
  transform: rotateY(-180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover .card-front {
  transform: rotateY(180deg);
}

.card:hover .card-back {
  transform: rotateY(0deg);
}

.tabla-valores{
  display: flex;
  align-items: center;
  justify-items: center;
}
table td {
  padding: 0 10px;
}

table td:first-child {
  text-align: right;
}
.card-ind{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
.text-item{
  display: flex;
  justify-content: center;
}
.card-img-ind{
  width: 320px;
  height: 173px;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.card-back{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  
}
.icon-cart{
  height: 38px;
    width: 110px;
    display: block;
    color: white;
    margin-bottom: -20px;
}
.cart-counter{
  color: white;
  margin: 18px;
  font-size: 1.08rem;
}
.botonCarrito:hover{
  background-color: b68ce4;
  color: whitesmoke;
  transform: scale(1.06);
  transition: 0.3s ease;
}
.div-carrito-vacio{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.item-cart{
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: 14px;
  color: #333;
  margin: 10px;
}
.item-cart img {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}
.item-details{
  flex: 1;
}
.cart-item-name{
  margin: 0;
  font-size: 18px;
}
.cart-item-details {
  margin: 5px 0;
}
.total-price{
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: 14px;
  color: #333;
  margin: 10px;
  position: absolute;
}
.total-price:hover{
  box-shadow: 0 0 17px #989FCE;
  transition: box-shadow 0.3s ease-in-out;
}
.remove-btn {
  background: none;
  border: 1px solid #ccc;
  color: #333;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}
.item-cart:hover {
  box-shadow: 0 0 17px #989FCE;
  transition: box-shadow 0.3s ease-in-out;
}

.remove-btn:hover {
  background: #7D6B91;
  color: #fff;
  transition: background 0.3s ease-in-out;
}
.botonCarrito{
  background: linear-gradient(to bottom right, #7D6B91, #7F97CC);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.botonCarrito:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(183, 71, 239, 0.5), .125rem .125rem 1rem rgba(90, 120, 255, 0.5);
}

.botonCarrito:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(197, 71, 239, 0.5), .125rem .125rem 1rem rgba(90, 153, 255, 0.5);
}
.footer-container{
    position: absolute;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.opciones-container{
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 1.2rem;
  grid-template-columns: 30rem 12rem 12rem;
  justify-content: center;
}
.opciones-boton{
  background-color: #51be9d;
  color: white;
  border-width: 1px;
}
.input-search-items{
  width: 36rem;
  height: 3rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.dropdown-container{
  background-color: rgba(147, 154, 201, 0.382);
  width: 54em;
}
.select-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}